

/* GLOBAL VARIABLES */

:root{
    --background_colour: #242731;
    --font_colour: rgb(255, 255, 255);
}

html, body {
    height: 100%;
    background-color: var(--background_colour);
}


.information-panel{
    margin-top: 50px;
    width: 80% !important;
    border-radius: 10px;
    border: 2px solid white !important;
    height: 710px;
}

.left-column{
    padding-top: 80px;
    height: 710px;
    display: flex !important;
    justify-content: center !important;
}

.right-column{
    height: 710px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.control-label{
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
}


.stat-box{
    color: var(--font_colour);
    font-size: 22px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: 150px;
    height: 80px;
    border-radius: 10px;
}


.stat-label{
    color: var(--font_colour);
    font-size: 18px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}




/* NAVBAR STYLING */

.navbar{
    background-color: var(--background_colour) !important;
    height: 70px;
}

.nav-link{
    color: var(--font_colour) !important;
    font-size: 17px;
    font-weight: 70;
    margin-left: 20px;

}
.home-nav-link{
    font-size: 25px !important;
    margin-left: 0px !important;
}

.first-nav-link{
    margin-left:70px;
}






/* TIME RANGE STYLING  */


#date-select{
    display: flex !important;
    justify-content: center !important;
}

.date_label{
    margin-top: 3px;
    font-size: 18px;
    padding: 0px;
    color: var(--font_colour) !important;
    font-weight: 100;
}

#date-range{
    display: flex !important;
    justify-content: center !important;
}
.DateRangePicker{
    display: flex !important;
    justify-content: center !important;
}
.DateRangePickerInput{
    border: 0px;
    display: flex !important;
    justify-content: center !important;
    background-color: var(--background_colour);
}
.DateInput{
    border: 1px solid var(--font_colour);
    border-radius: 10px;
    vertical-align: middle;
    color: var(--font_colour) !important;
}
.DateInput_1{
    padding-top: 8px;
    padding-bottom: 6px;
    color: var(--font_colour) !important;
    background-color: var(--background_colour);
}
.DateInput_input{
    text-align: center;
    padding: 0px;
    font-size: 15px;
    background-color: var(--background_colour);
    color: var(--font_colour);
}
.DateRangePickerInput_arrow{
    margin: 5px;
}
.DateRangePickerInput_arrow_svg{
    fill: var(--font_colour);
}



/* DROPDOWN STYLING */


.dropdown_label{
    font-size: 18px;
    padding: 0px;
    color: var(--font_colour) !important;
    font-weight: 100;
}
.dash-dropdown{
    display: flex;
    justify-content: center;
    padding: 0px;
    background-color: var(--background_colour);
}
.Select{
    display: flex;
    justify-content: center;
    background-color: var(--background_colour);
}
.Select-control{
    width: 350px;
    height: 42px;
    border-radius: 10px;
    padding:0px;
    background-color: var(--background_colour) !important;
}
.Select-value{
    font-size: 15px !important;
    text-align: center;
    padding: 0px;
    margin: 3px;
    background-color: var(--background_colour);
}
.Select-multi-value-wrapper{
    background-color: var(--background_colour);
}
.Select-value-label{
    font-size: 15px !important;
    font-weight: 70;
    text-align: center;
    color: var(--font_colour) !important;
    background-color: var(--background_colour);
}
.Select-arrow-zone{
    background-color: var(--background_colour);
}
.Select-menu-outer{
    width: 350px;
    color: var(--font_colour) !important;
    background-color: var(--background_colour);
}









